body
{
    padding-top: 20px;
}

.footer
{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #EEE;
}

/* Main marketing message and sign up button */
.jumbotron
{
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn
{
    padding: 14px 24px;
    font-size: 21px;
}

.navbar
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#EEE));
    background-image: -webkit-linear-gradient(top, #F7F7F7 0%, #EEE 100%);
    background-image: -o-linear-gradient(top, #F7F7F7 0%, #EEE 100%);
    background-image: linear-gradient(to bottom, #F7F7F7 0%, #EEE 100%);
    border: 1px solid #E5E5E5;
}

@media (min-width: 768px)
{
    .navbar-nav
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .navbar-nav .nav-item
    {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
{
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer
    {
        padding-right: 0;
        padding-left: 0;
    }
}
